* {
  box-sizing: border-box;
  --sidenav: rgb(51, 50, 50);
  font-size: 1em;
}

.block {
  position: absolute;
}

#ob {
  cursor: move;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #73CEDD;
  color: white;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
}

#header span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#app {
  position: absolute;
  top: 5vh;
  height: 95vh;
}

#sidenav {
  position: absolute;
  width: 100px;
  height: inherit;
  background-color: white;
  color: black;
  overflow-y: auto;
  border-right: 0.1vw solid #ccc;
}

#available {
  position: absolute;
  width: 30vw;
  height: 95vh;
  left: 100px;
  padding: 0;
  margin: 0;
  background-color: white;
  border-right: 0.1vw solid #ccc;
  overflow-y: auto;
}

#available ul {
  padding: 0;
}

#available li {
  list-style-type: none;
  cursor: pointer;
  scale: 0.8;
}

#blocks {
  position: absolute;
  width: calc(70vw - 100px);
  height: 95vh;
  left: calc(100px + 30vw);
  background-color: #f9f9f9;
}

#sidenav ul {
  margin: 0;
  padding: 0;
}

#sidenav li {
  list-style-type: none;
  cursor: pointer;
}

#sidenav li:hover {
  color: blue;
  background-color: white;
}

.category {
  font-size: normal;
  padding: 2px;
  text-align: center;
  gap: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dot {
  width: 1vw;
  height: 1vw;
  background-color: rgb(255, 187, 0);
  border-radius: 50%;
  display: inline-block;
}
